mixin resources(resource)
	if resource
		li.card
			.cardTitle
				h4!=resource.name
			if resource.description
				.cardDescription!=resource.description

mixin usefulLinks(link)
	if link
		a(href=link.link target="_blank").cardLink
			li.card.linkCard
				.cardTitle
					h4.linkTitle!=link.name
				if link.description
					.linkDescription.cardDescription
						p!=link.description
