mixin resources(resource)
	if resource
		a(href=resource.link target="_blank").cardLink
			li.card.linkCard
				h4.linkTitle!=resource.name
				if resource.description
					.linkDescription
						p!=resource.description

mixin usefulLinks(link)
	if link
		a(href=link.link target="_blank").cardLink
			li.card.linkCard
				h4.linkTitle!=link.name
				if link.description
					.linkDescription
						p!=link.description
